[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# Ordenar membros da classe (prioriza propriedades antes dos métodos e construtores)
dotnet_sort_member_declarations = access


# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1054: Parâmetros de URI não devem ser cadeias de caracteres
dotnet_diagnostic.CA1054.severity = none

# CA1056: Propriedades de URI não devem ser cadeias de caracteres
dotnet_diagnostic.CA1056.severity = none

# CA1305: Especificar IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1307: Especificar StringComparison para garantir a clareza
dotnet_diagnostic.CA1307.severity = none

# CA1707: Identificadores não devem conter sublinhados
dotnet_diagnostic.CA1707.severity = none

# CA2227: Propriedades de coleção devem ser somente leitura
dotnet_diagnostic.CA2227.severity = none